<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings version="1">
  <section id="plugin.audio.sfy">
    <category id="playback" label="Reprodução">
      <group id="stream">
        <setting id="search_limit" type="integer" label="Resultados por busca">
          <level>0</level>
          <default>20</default>
          <constraints>
            <minimum>5</minimum>
            <step>5</step>
            <maximum>50</maximum>
          </constraints>
          <control type="slider" format="integer"><popup>false</popup></control>
        </setting>
        <setting id="audio_format" type="string" label="Seleção de formato yt-dlp">
          <level>1</level>
          <default>bestaudio/best</default>
          <control type="edit" format="string"><heading>Seleção de formato yt-dlp</heading></control>
        </setting>
      </group>
    </category>
  </section>
</settings>
